/*ELEMENTS TO CONTROL*/

/*BY TAG*/
body{
    text-align: center;
    background: dodgerblue;
}
/*BY CLASS*/
.parrafo{
    color: red;
    font-size: 25px;
    
}
/*BY ID*/
#title{
    color: aquamarine;
}

